body {
  font-size: 13px;
  font-family: garamond;
  background-color: #f5f5ef;  
  padding: 10px 15px 10px 15px;
}

h1 {
  border-bottom:  1px solid #d6d6c2;
  margin-bottom: 2px;
  font-size: 40px;
  letter-spacing: 1px;
}  

h2 {
  margin-top: 3px;
  margin-bottom: -2px;
  font-size: 15px;
  font-family: garamond; 
  font-weight: lighter;
}

h3 {
  margin-top: 25px;
  margin-bottom: -2px;
  font-size: 18px;
  font-family: garamond;
  letter-spacing: 2px;
  border-bottom: 1px solid #1f1f14; 
}

.date {
    float: right;
}

h4 {
  font-size: 16px;
  margin-bottom: -8px;
  border-bottom: 1px solid #d6d6c2;
}



