p {

}

body {
  font: 12px garamond;
  background-color: #f5f5ef;  
  padding: 10px 15px 10px 15px;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
  border-bottom:  1px solid #d6d6c2;
  margin-bottom: -8px;
}  

h2 {
  margin-bottom: -1px;
  font: 16px garamond; 
}

h3 {
  letter-spacing: 2px;
  border-bottom: 1px solid #1f1f14; 
}

.date {
    float: right;
}

h4 {
  margin-bottom: -8px;
  border-bottom: 1px solid #d6d6c2;
}



